@import "../../styles/variables";

a {
  color: $header__text--color;
;
  &:hover,&:focus{
      text-decoration: none;
      color: $header__text--color-active;
  }  
  
}

.appbar__flat-button {
    line-height: 50px !important;
    height: 50px !important;
    color:$header__text--color !important
} 