a {
  color: white; }
  a:hover, a:focus {
    text-decoration: none;
    color: #EEEEEE; }

.appbar__flat-button {
  line-height: 50px !important;
  height: 50px !important;
  color: white !important; }
