body {
  margin: 0;
  padding: 0;
  font-family: Roboto , sans-serif;
  background-color: white;
  background-image:
    linear-gradient(
      to bottom right, 
      #E0E0E0, white
    );
  height:100vh
}
#root {
  height: 100vh
}
.flexbox-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    
    justify-content: center;
    
}